/*--- B A S I C  S T Y L E S ---*/
html {
  font-size: 62.5%;
  overflow-y: scroll;
}

body {
  background-color: #fff;
  color: #171717;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* headings */
h1 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 3.7rem;
  letter-spacing: .7px;
  line-height: 1.2;
  text-transform: uppercase;
}

h2 {
  font-size: 1.9rem;
  line-height: 1.4;
}

h3 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 3.2rem;
}

h4,
main {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 1.9rem;
  line-height: 1.7;
}

/*--- paragraphs, lists and links ---*/
p,
li,
a {
  font-size: 1.9rem;
  line-height: 1.7;
}

a {
  color: #171717;
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  outline:none;
}

/*--- highlights and quotations ---*/
strong {
  font-weight: 700;
}

q {
  font-style: italic;
  quotes: '"' '"' "'" "'";
  position: relative;
}

q::before {
  content: open-quote;
  left: -.5em;
  position: absolute;
}

q::after {
  content: close-quote;
}

/*--- images ---*/
.image {
  overflow: hidden;
  width: 100%;
}

.image img {
  height: auto;
  width: 100%;
}


/*--- L A Y O U T  S T Y L E S ---*/
.container {
  position: relative;
}

/* header */
.main-shape {
  height: 0;
}

.triangle {
  left: 0;
  position: absolute;
  top: 0;
  width: 10%;
}

.header-home .triangle {
  fill: url(#gradient);
  opacity: .5;
}

.header-one .triangle {
  fill: #F11F96;
}

.header-two .triangle {
  fill: #07A0C8;
}

.logo {
  left: 50%;
  margin-left: -40px;
  position: absolute;
  top: 3em;
  width: 70px;
}

.small-shape svg {
  bottom: 0;
  position: absolute;
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 10%;
  z-index: 999;
}

/* L A Y O U T */
.home-content,
.content-parts {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.about,
.work,
.links,
.text-content {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* HOME */
.home-content {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* about */
.about {
  margin-bottom: 5.5em;
  margin-top: 11em;
}

.main-heading {
  font-size: 4.2rem;
  margin-bottom: 1rem;
}

.main-heading-home {
  text-align: center;
}

/* work */
.work {
  margin-bottom: 5.5em;
}

.work-list li {
  margin-bottom: 1em;
}

.work-list li:last-child {
  margin-bottom: 0;
}

.link {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 2.3rem;
  position: relative;
  z-index: 9;
}

.link-text {
  display: inline-block;
  line-height: 1.6;
}

.link-text::after {
  background-color: #55eeee;
  content: '';
  display: block;
  height: 3px;
  left: -7px;
  position: absolute;
  top: 31px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 50px;
}

.link-content:focus > .link-text::after {
  background-color: blue;
}

.side-text,
.side-text li {
  font-size: 1.5rem;
}

.read-more {
  line-height: 1;
  position: relative;
  text-decoration: underline;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.smaller {
  font-size: 1.3rem;
}

/* links */
.links {
  position: relative;
}

.social-links {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}

.divider span::before {
  background-color: #171717;
  content: '';
  height: 35px;
  position: absolute;
  right: calc(50% - .7rem);
  top: 0;
  -webkit-transition: right .5s ease;
  -moz-transition: right .5s ease;
  -o-transition: right .5s ease;
  transition: right .5s ease;
  width: 3px;
}

.behance {
  margin-right: 2.8rem;
  width: 47px;
}

.linkedin {
  margin-left: 2.8rem;
  width: 30px;
}

.behance a,
.linkedin a {
  border-bottom: 1px dotted transparent;
}

.behance a:focus,
.linkedin a:focus {
  border-bottom-color: blue;
}

.cv {
  text-align: center;
}

.link-cv::after {
  background-color: #171717;
  content: '';
  display: block;
  height: 3px;
  left: calc(50% - 25px);
  position: absolute;
  top: 31px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 50px;
}

.link-cv:focus::after {
  background-color: blue;
}

/* footer */
.footer {
  padding: 4em 0 .3em;
}

.footer-text {
  text-align: center;
}

/* WORK */
/* nav */
.work-nav {
  background-color: #fff;
  display: -webkit-flex;
  display: flex;
  left: 50%;
  margin: .7em .7em .7em -84px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.work-nav li a {
  border: 3px solid #fff;
  color: #B9BBBE;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  padding: .2em .4em;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}

.work-nav li .back-home {
  border: 0;
  padding: 0;
}

.back-home {
  display: block;
  height: 32px;
  left: 110%;
  position: absolute;
  top: 0;
  width: 32px;
}

.back-home span {
  display: block;
  height: 100%;
  width: 100%;
}

.back-home span::before,
.back-home span::after {
  background-color: #171717;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  right: -.4rem;
  top: 1.5rem;
  width: 40px;
}

.back-home span::before {
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.back-home span::after {
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.work-nav li.active > a,
.work-nav li.active > a:focus,
.work-nav li.active > a:hover {
  border-color: #171717;
  color: #171717;
}

/* work content */
.main-heading-work {
  margin-top: 40%;
}

.heading-text {
  padding: 4em 0 1em;
}

.subheading-text {
  padding: 3em 0 0;
}

.side {
  margin-top: 5em;
}

.text {
  margin-bottom: 1.2em;
}

.textlist li {
  list-style-type: disc;
  margin-left: 1em;
}

.image-article {
  margin-top: 4.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: calc(100% - 3rem);
}

.image-article-inner {
  margin-top: 4.5rem;
}

.quote {
  margin-left: .5em;
}


@media (min-width: 600px) {
  .logo {
    left: 2em;
    margin-left: 0;
    top: 2em;
    width: 120px;
  }

  /* shapes600 */
  .triangle {
    width: 40%;
  }

  .header-one .triangle {
    fill: url(#image1);
  }

  .header-two .triangle {
    fill: url(#image2);
  }

  .small-shape svg {
    width: 12%;
  }

  /* HOME 600 */
  .about,
  .work,
  .links {
    -webkit-align-self: flex-end;
    align-self: flex-end;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    width: 65%;
  }

  .main-heading {
    font-size: 4.7rem;
    margin-bottom: 0;
  }

  .main-heading-home {
    text-align: left;
  }

  .subheading {
    font-size: 2.2rem;
  }

  .social-links {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    width: 150px;
  }

  .divider span::before {
    right: 7.6rem;
  }

  .cv {
    text-align: left;
  }

  /* WORK 600 */
  .work-nav {
    align-items: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: .7em;
    left: inherit;
    right: 0;
    top: 1.7em;
  }

  .back-home {
    left: inherit;
    margin-bottom: 1em;
    position: relative;
    right: 0;
  }

  .text-content {
    margin-left: 15rem;
    margin-right: 15rem;
  }

  .image-article {
    margin-left: 12rem;
    margin-right: 12rem;
    width: calc(100% - 24rem);
  }

  .image-article-inner {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}


/* min-height-fix */
@media (min-width: 600px) and (min-height: 620px) {
  .home-content {
    height: 100vh;
  }

  .about {
    margin-top: 9em;
  }
}


@media (min-width: 900px) {
  .logo {
    width: 150px;
  }

/* HOME 900 */
  .about,
  .work,
  .links {
    -webkit-align-self: auto;
    align-self: auto;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: 5rem;
    margin-right: 5rem;
    width: auto;
  }

  .main-heading-home {
    -webkit-flex: 1 1;
    flex: 1 1;
    text-align: right;
  }

  .social-links {
    -webkit-flex: 1 1;
    flex: 1 1;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: auto;
  }

  .main,
  .work-list,
  .cv {
    -webkit-flex: 1 1;
    flex: 1 1;
    margin-left: 3rem;
  }

  .divider span::before {
    right: 5.8rem;
  }

  /* WORK 900 */
  .text-content {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
}

@media (min-width: 1200px)  {
  .logo {
    left: 3em;
    top: 3em;
    width: 170px;
  }

  /* HOME 1200 */
  .about,
  .work,
  .links {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }

/* work 1200 */
  .work {
    margin-bottom: 3.5em;
  }

  .work-nav li a:hover {
    color: #171717;
  }

/* links 1200 */
  .link-content {
    display: inline-block;
    -webkit-transition: margin-left .5s ease-in-out;
    -moz-transition: margin-left .5s ease-in-out;
    -o-transition: margin-left .5s ease-in-out;
    transition: margin-left .5s ease-in-out;
  }

  .link-content:hover {
    margin-left: -7px;
  }

  .link-content:hover > .link-text::after {
    background-color: #55eeaa;
    left: 0;
    width: 100%;
  }

  .hide-text {
    overflow: hidden;
  }

  .read-more {
    opacity: 0;
    top: 10px;
  }

  .link-content:hover .read-more {
    top: 0;
    opacity: 1;
  }

  .behance:hover ~ .divider span::before {
    right: 7.6rem;
  }

  .linkedin:hover ~ .divider span::before {
    right: 3.7rem;
  }

  .link-cv:hover::after {
    left: 0;
    width: 100%;
  }

  /* WORK 1200 */
  .text-content {
    width: 700px;
  }
}

@media (min-width: 1800px) {
  .logo {
    left: 4em;
    top: 4em;
    width: 270px;
  }

  /* HOME 1800 */
  .about,
  .work,
  .links {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

/* about 1800 */
  .about {
    margin-top: 15em;
  }
}
